<form #form="ngForm" class="box" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label">Full Name</label>
    <div class="control">
      <input class="input" name="name" type="text" placeholder="(Minimum 3 characters)" [(ngModel)]="name" required minlength="3" maxlength="100" #fullName="ngModel">
    </div>
    <!-- Create an error message for the name field-->
    <div class="help is-error" *ngIf="fullName.invalid && fullName.dirty">
      Name is required and must be at least 3 characters long.
    </div>
  </div>
  
  <div class="field">
    <label class="label">Address</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" name="address" type="text" placeholder="(Minimum 6 characters)" [(ngModel)]="address" required minlength="6" maxlength="200" #orderAddress="ngModel">
      <div class="help is-error" *ngIf="orderAddress.invalid && orderAddress.dirty">
        Address is required and must be at least 6 characters long.
      </div>
    </div>
  </div>
  
  <div class="field">
    <label class="label">Credit Card Number</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-danger" name="cardNumber" type="tel" placeholder="(16-digit number)" [(ngModel)]="cardNumber" required minlength="16" maxlength="16" #creditCard="ngModel" numbersOnly>
      <!-- create an input for credit card number, that must have 16 number and only accepts numbers-->
      
      <div class="help is-error" *ngIf="creditCard.invalid && creditCard.dirty">
        Credit card number is required and must be 16 digits long.
      </div>
    </div>
  </div>
  
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="submit" [disabled]="form.invalid">Submit</button>
    </div>

  </div>
</form>