

<mat-card class="example-card product-small">
  <img mat-card-image [src]="product.photoUrl" [alt]="product.name">
  <mat-card-content>
    <span>{{ product.name }}</span>
        <p>{{ product.description }}</p>
        <p>{{ product.price | currency:'USD':true }}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="field">
      <div class="control">
        <div class="select">
          <select [(ngModel)]="quantity">
            <option *ngFor="let i of quantityArray" [value]="i">{{ i }}</option>
          </select>
        </div>
      </div>
    </div>
  <a class="card-footer-item" (click)="addToCart(product, quantity)" mat-button>Add to Cart</a>
  </mat-card-actions>
</mat-card>

<!-- create link with the text back to product list that redirects to /product-list -->

<a routerLink="/product-list">Back to Product List</a>

